[Desktop Entry]
Name=Circle Clean
X-KDE-ServiceTypes=KWin/Aurorae
X-KDE-PluginInfo-Author=Adrium
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY
X-KDE-PluginInfo-Name=Adrium-Circle-Clean
X-KDE-PluginInfo-Website=https://github.com/adrium/plasma-decoration-circle
X-KDE-PluginInfo-Version=1.2
